<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InsulinResistanceApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logowanie">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Logowanie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rejestracja">
                <span class="oi oi-plus" aria-hidden="true"></span> Rejestracja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bazawiedzy">
                <span class="oi oi-book" aria-hidden="true"></span> Baza wiedzy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kalkulator">
                <span class="oi oi-calculator" aria-hidden="true"></span> Szybki kalkulator
            </NavLink>
        </div>
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
