@page "/landing"
@page "/{kategoriaUrl}"
@inject IProduktService ProduktService
@inject NavigationManager NavigationManager

<div class="top-bar">
    <div class="logo">
        <h1 @onclick="NavigateToHomePage">Insulin Resistance <span style="color:#f4c430">App</span></h1>
    </div>
    <div class="login-button">
        <button class="btn btn-primary" @onclick="NavigateToProfile" style="font-size: 20px;" width="30px;" height="25px;"><span class="oi oi-person"></span></button>
    </div>
</div>

<div class="sidebar">
    <button @onclick="NavigateToHomePage"><span class="oi oi-home" style="color: #f4c430; font-size: 1.5em;"></span>    Strona główna</button>
    <button @onclick="NavigateToCalculator"><span class="oi oi-calculator" style="color: #f4c430; font-size: 1.5em;"></span>    Szybki kalkulator</button>
    <button @onclick="NavigateToCalendar"><span class="oi oi-calendar" style="color: #f4c430; font-size: 1.5em;"></span>    Mój kalendarz</button>
    <button @onclick="NavigateToProducts"><span class="oi oi-list-rich" style="color: #f4c430; font-size: 1.5em;"></span>   Lista produktów</button>
    <button @onclick="NavigateToKnowledgeBase"><span class="oi oi-book" style="color: #f4c430; font-size: 1.5em;"></span>   Baza wiedzy</button>
</div>

<div class="content">
    <ListaProduktow />

</div>

<footer class="footer">
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/facebook-icon.png" alt="Facebook" class="iconfb">
        </a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/youtube-icon.png" alt="YouTube" class="iconyt">
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/instagram-icon.png" alt="Instagram" class="iconinsta">
        </a>
        <a href="https://www.gmail.com/" target="_blank" rel="noopener noreferrer">
            <img src="images/gmail-icon.png" alt="Gmail" class="icongmail">
        </a>
    </div>
</footer>

@code {
    [Parameter]
    public string KategoriaUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("w razor kategoria:" + KategoriaUrl);
        await ProduktService.GetProdukty(KategoriaUrl);
    }
    
    private void NavigateToHomePage()
    {
        NavigationManager.NavigateTo("/");
    }

    private void NavigateToCalculator()
    {
        NavigationManager.NavigateTo("/kalkulator");
    }

    private void NavigateToCalendar()
    {
        NavigationManager.NavigateTo("/kalendarz");
    }

    private void NavigateToProducts()
    {
        NavigationManager.NavigateTo("/produkty");
    }
    
    private void NavigateToProfile()
    {
        NavigationManager.NavigateTo("/profil");
    }

    private void NavigateToKnowledgeBase()
    {
        NavigationManager.NavigateTo("/baza-wiedzy");
    }
}
